*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
header{
    height: 100vh;
    background: url(./media/Background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    border-radius: 4px;
}
.container img{
    position: relative;
    left: 42px;
}

